#nav {
  display: grid;
  gap: var(--space-3);
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "filters plotter routing";
}

#nav-filters {
  grid-area: filters;
}

#nav-plotter {
  grid-area: plotter;
}

#nav-routing {
  grid-area: routing;
}
