#nav {
  display: grid;
  gap: var(--space-3);
  grid-template-columns: auto 1fr;
  grid-template-areas: "filters plotter";
}

#nav-filters {
  grid-area: filters;
}

#nav-plotter {
  aspect-ratio: 1;
  grid-area: plotter;
}
